USE [GD2C2022]
GO
/****** Object:  Table [gd_esquema].[Maestra]    Script Date: 19/09/2022 18:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gd_esquema].[Maestra](
	[COMPRA_NUMERO] [decimal](19, 0) NULL,
	[COMPRA_FECHA] [date] NULL,
	[COMPRA_MEDIO_PAGO] [nvarchar](255) NULL,
	[COMPRA_TOTAL] [decimal](18, 2) NULL,
	[PROVEEDOR_RAZON_SOCIAL] [nvarchar](50) NULL,
	[PROVEEDOR_CUIT] [nvarchar](50) NULL,
	[PROVEEDOR_DOMICILIO] [nvarchar](50) NULL,
	[PROVEEDOR_MAIL] [nvarchar](50) NULL,
	[PROVEEDOR_LOCALIDAD] [nvarchar](255) NULL,
	[PROVEEDOR_CODIGO_POSTAL] [decimal](18, 0) NULL,
	[PROVEEDOR_PROVINCIA] [nvarchar](255) NULL,
	[DESCUENTO_COMPRA_CODIGO] [decimal](19, 0) NULL,
	[DESCUENTO_COMPRA_VALOR] [decimal](18, 2) NULL,
	[PRODUCTO_VARIANTE_CODIGO] [nvarchar](50) NULL,
	[PRODUCTO_NOMBRE] [nvarchar](50) NULL,
	[PRODUCTO_DESCRIPCION] [nvarchar](50) NULL,
	[PRODUCTO_MATERIAL] [nvarchar](50) NULL,
	[PRODUCTO_CODIGO] [nvarchar](50) NULL,
	[PRODUCTO_MARCA] [nvarchar](255) NULL,
	[PRODUCTO_CATEGORIA] [nvarchar](255) NULL,
	[PRODUCTO_TIPO_VARIANTE] [nvarchar](50) NULL,
	[PRODUCTO_VARIANTE] [nvarchar](50) NULL,
	[COMPRA_PRODUCTO_CANTIDAD] [decimal](18, 0) NULL,
	[COMPRA_PRODUCTO_PRECIO] [decimal](18, 2) NULL,
	[VENTA_CODIGO] [decimal](19, 0) NULL,
	[VENTA_FECHA] [date] NULL,
	[VENTA_TOTAL] [decimal](18, 2) NULL,
	[VENTA_MEDIO_PAGO] [nvarchar](255) NULL,
	[VENTA_MEDIO_PAGO_COSTO] [decimal](18, 2) NULL,
	[VENTA_CANAL] [nvarchar](2255) NULL,
	[VENTA_CANAL_COSTO] [decimal](18, 2) NULL,
	[VENTA_ENVIO_PRECIO] [decimal](18, 2) NULL,
	[VENTA_MEDIO_ENVIO] [nvarchar](255) NULL,
	[CLIENTE_NOMBRE] [nvarchar](255) NULL,
	[CLIENTE_APELLIDO] [nvarchar](255) NULL,
	[CLIENTE_DNI] [decimal](18, 0) NULL,
	[CLIENTE_DIRECCION] [nvarchar](255) NULL,
	[CLIENTE_TELEFONO] [decimal](18, 0) NULL,
	[CLIENTE_MAIL] [nvarchar](255) NULL,
	[CLIENTE_FECHA_NAC] [date] NULL,
	[CLIENTE_LOCALIDAD] [nvarchar](255) NULL,
	[CLIENTE_CODIGO_POSTAL] [decimal](18, 0) NULL,
	[CLIENTE_PROVINCIA] [nvarchar](255) NULL,
	[VENTA_DESCUENTO_IMPORTE] [decimal](18, 2) NULL,
	[VENTA_DESCUENTO_CONCEPTO] [nvarchar](255) NULL,
	[VENTA_CUPON_IMPORTE] [decimal](18, 2) NULL,
	[VENTA_CUPON_CODIGO] [nvarchar](255) NULL,
	[VENTA_CUPON_FECHA_DESDE] [date] NULL,
	[VENTA_CUPON_FECHA_HASTA] [date] NULL,
	[VENTA_CUPON_VALOR] [decimal](18, 2) NULL,
	[VENTA_CUPON_TIPO] [nvarchar](50) NULL,
	[VENTA_PRODUCTO_CANTIDAD] [decimal](18, 0) NULL,
	[VENTA_PRODUCTO_PRECIO] [decimal](18, 2) NULL
) ON [PRIMARY]

GO
